@CHARSET "UTF-8";
.tab-form {
	border-collapse: collapse;
	margin: 0 auto;
	font-size: 14px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.tab-op{
	padding-top:10px;
}
.tab-form td {
	border-top: 1px solid #ccc
}

.link{
	padding-left:5px;
}
.shortTextField{
	height:22px;
	width:128px;
}