<taglib name="Admin\TagLib\EasyUI" />
<import file="admin.customer.js.customer_add_product" />
<div id="customer_add_product_filter_change_dialog" class="easyui-dialog" title="修改滤芯提醒周期" 
data-options="modal:true,closed:true,iconCls:'icons-application-application_add',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#customer_add_product_filter_change_dialog_form').submit()}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#customer_add_product_filter_change_dialog').dialog('close');}}]" style="width:600px;height:300px;">
<!-- <input type="hidden" value="" id="filter_product_id">
<form id="customer_add_product_change_cycle_dialog_form">
<table class="tab-op" id="TabCycle" cellspacing="0">
	<tr>
		<th style="text-align: center" width="170">滤芯名称</th>
		<th style="text-align: center" width="160">默认使用周期</th>
		<th style="text-align: center" width="180">个人设置周期</th>
    </tr>
	<tbody id="filterContent">
	</tbody>
</table>
<div style="width: 100%; margin: 0px auto; text-align: center; margin-top: 15px;">
<div style="line-height: 28px">
<a type="button" title="给该机器添加一个滤芯" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-arrow-add',text:'添加滤芯'" onclick="addFilter()">添加滤芯</a></div>
</div>
</form>-->
</div>



<form id="customer_add_product_form" style="width: 676px">
<table class="tab-form">
	<tbody>
		<tr>
			<td class="title" colspan="4">客户信息</td>
			<input type="text" id="custid" name="info[custid]" value="<{$cust.custid}>" readonly="readonly" style="display:none"/>
		</tr>
		<tr>
			<td class="label">客户名称：</td>
			<td class="wid50"><input type="text" id="customer_add_product_form_custname" name="custname" size="18"
				class="textField" value="<{$cust.custname}>"
				readonly="readonly"
			> <span class=" error">*</span></td>
			<td class="label">手机：</td>
			<td class="wid50"><input id="customer_add_product_form_mobile" type="text" name="mobile" size="18"
				class="textField" value="<{$cust.mobile}>"
				readonly="readonly"
			> <span class=" error">*</span></td>
		</tr>
		<tr>
			<td class="label">电话：</td>
			<td class="wid50" colspan="3"><input id="customer_add_product_form_tel" type="text" name="tel"
				class="textField" value="<{$cust.tel}>"
				readonly="readonly"
			> <span class=" error">*</span></td>
		</tr>
		<tr>
			<td class="title" colspan="4">产品信息</td>
		</tr>
		<tr>
			<td class="label">购机品牌：</td>
			<td class="wid25"><input id="product_add_dialog_form_brandid" 
				name="info[brandid]" class="easyui-combobox comboboxField"
				data-options='editable:false,valueField: "brandid",textField: "brandname",data: <?php echo($brandlist);?>,onSelect:productBrandChange'
			/>
			 <span class=" error">*</span></td>
			<td class="label">产品型号：</td>
			<td><select id="product_add_dialog_form_type"
				name="info[type]" class="easyui-combobox comboboxField"
				data-options="editable:false,valueField:'value',textField:'type',onSelect:productTypeChange">
				</select>
				 <span class=" error">*</span></td>
		</tr>
		<tr>
			<td class="label">产品名称：</td>
			<td><input type="text" size="18" readonly="readonly" id="product_add_dialog_form_prodname"
				class="textField" name="info[prodname]" value=""/>
				<input type="text" id="product_add_dialog_form_prodid" style="display:none"/>
			</td>
			
			<td class="label">滤芯周期设置：</td>
			<td><span class="pointer" style="color: Blue;" id="UpdateCycle">
			<a href="#" onclick="changeFilterCycle()">修改提醒周期</a></span></td>
		</tr>
		<tr>
			<td class="label">备注：</td>
			<td colspan="5" class="text_size"><textarea
				class="text_box text_hauto" id="customer_add_product_form_desc" cols="70" name="info[desc]" rows="2"
				style="width: 421px; height: 40px;"
			></textarea></td>
		</tr>
		<tr>
			<td class="title" colspan="6">业务信息</td>
		</tr>
		<tr>
			<td class="label">是否本店售：</td>
			<td><input type="radio" name="info[isself]" id="customer_add_product_form_radioyes"
				checked="checked" value="1"
			><label for="radYes">是</label> <input type="radio" name="info[isself]"
				id="customer_add_product_form_radiono" value="0"
			><label for="radNo">否</label></td>
			<td class="label">销售日期：</td>
			<td colspan="3">
				<input class="easyui-datetimebox" id="customer_add_product_form_selltime" name="info[selltime]" data-options="required:true,showSeconds:false" value="<?php echo date('m/d/Y H:i',time());?>" style="width:150px">
			 <span class=" error">*</span></td>
		</tr>
		<tr>
			<td class="label">销售人员：</td>
			<td>
			<input type="text" size="18" readonly="readonly" id="customer_add_product_form_salesman"
				class="textField" name="info[salesman]" value=""/>
				</td>
			<td class="label">销售金额：</td>
			<td colspan="3"><input type="text" size="18" name="info[cost]" id="customer_add_product_form_cost" class="textField"
			></td>
		</tr>
		<tr>
			<td class="label">是否已安装：</td>
			<td colspan="5"><input type="radio" name="info[isinstall]"
				id="customer_add_product_form_isinstallyes" value="1"
			><label for="rdInstallYes">是</label> <input type="radio"
				name="info[isinstall]" id="customer_add_product_form_isinstallno" checked="checked" value="0"
			><label for="rdInstallNo">否</label></td>
		</tr>
		<tr class="TrAppInstall">
			<td class="label">预约安装时间：</td>
			<td colspan="5">
			<input class="easyui-datetimebox" name="info[apptime]"  id="customer_add_product_form_apptime" data-options="required:true,showSeconds:false" value="<?php echo date('m/d/Y H:i',time());?>" style="width:150px">
		</tr>
		<tr>
			<td colspan="6" class="centerlabel" id="LastService">
			  <a id="customer_add_product_form_submit" href="#"  class="easyui-linkbutton" data-options="iconCls:'icons-other-tick'"> 提交</a>
			 <a href="#" class="easyui-linkbutton" data-options="iconCls:'icons-arrow-cross'">返回</a>
			</td>
		</tr>
	</tbody>
</table>

</form>