<taglib name="Admin\TagLib\EasyUI" />
<import type="css" file="admin.customer.css.customer" />
<div class="action-bar">
     <form action="ManageCustomer" method="get">
         <input type="hidden" name="LevelOrder" value="">
         <span class="setip fl">按关键字搜索：</span>
         <input type="text" size="32" class="text_box text_h25 fl" id="txtSearch" name="txtSearch" value="" placeholder="请输入客户姓名/电话/地址" style="color: rgb(169, 169, 169);">
         <select name="IsBuild" class="text_h29 select wid100px  fl mr5">
              <option value="All">所有客户</option>
              <option value="Open">已开通账户</option>
              <option value="NoOpen">未开通账户</option>
         </select>
		<select id="cus_Province" name="Province" class="select text_h29 select wid100px  fl mr5"><option value="-1">--省--</option><option value="110000">北京市</option><option value="120000">天津市</option><option value="130000">河北省</option><option value="140000">山西省</option><option value="150000">内蒙古自治区</option><option value="210000">辽宁省</option><option value="220000">吉林省</option><option value="230000">黑龙江省</option><option value="310000">上海市</option><option value="320000">江苏省</option><option value="330000">浙江省</option><option value="340000">安徽省</option><option value="350000">福建省</option><option value="360000">江西省</option><option value="370000">山东省</option><option value="410000">河南省</option><option value="420000">湖北省</option><option value="430000">湖南省</option><option value="440000">广东省</option><option value="450000">广西壮族自治区</option><option value="460000">海南省</option><option value="500000">重庆市</option><option value="510000">四川省</option><option value="520000">贵州省</option><option value="530000">云南省</option><option value="540000">西藏自治区</option><option value="610000">陕西省</option><option value="620000">甘肃省</option><option value="630000">青海省</option><option value="640000">宁夏回族自治区</option><option value="650000">新疆维吾尔自治区</option><option value="710000">台湾省</option><option value="810000">香港特别行政区</option><option value="820000">澳门特别行政区</option></select>
		<select id="cus_City" name="City" class="select text_h29 select wid100px  fl mr5"><option value="-1">--市--</option></select>
		<select id="cus_Area" name="Area" class="select text_h29 select wid100px  fl mr5"><option value="-1">--区/县--</option></select>
		<select class="select wid150px text_h29 fl" id="cus_Street" name="Street"><option value="-1">--片区--</option><option value="5426">test</option></select>
        <input type="submit" value="查询" class="btnSearch fl mr5">
        <input type="button" value="显示全部" id="ShowAll" class="btn blue ">
     </form>
 </div>


<easyui:treegrid options="treegrid.options" fields="treegrid.fields" />

<!-- 添加产品 -->
<div id="customer_add_dialog" class="easyui-dialog" title="添加客户" 
data-options="modal:true,closed:true,iconCls:'icons-application-application_add',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#customer_add_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#customer_add_dialog').dialog('close');}}]" style="width:700px;height:500px;"></div>

<!-- 编辑产品 -->
<div id="customer_edit_dialog" class="easyui-dialog" title="编辑客户信息" data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#customer_edit_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#customer_edit_dialog').dialog('close');}}]" style="width:700px;height:500px;"></div>

<script type="text/javascript">
var customer_list_treegrid_toolbar = [
	{ text: '添加客户', iconCls: 'icons-arrow-add', handler: customerAdd },
	{ text: '刷新', iconCls: 'icons-arrow-arrow_refresh', handler: customerListRefresh },
	{ text: '排序', iconCls: 'icons-arrow-arrow_down', handler: customerListOrder }
];

//状态格式化
function customerWaterQualityFormatter(key){
	var list = <{:json_encode(C('WATER_QUALITY'))}>;
	return list[key] || null;
}
//操作格式化
function customerListOperateFormatter(id){
	var btn = [];
	//btn.push('<a href="javascript:;" onclick="customerListAdd('+id+')">添加子栏目</a>');
	btn.push('<a href="javascript:;" onclick="customerListEdit('+id+')">修改</a>');
	btn.push('<a href="javascript:;" onclick="customerListDelete('+id+')">删除</a>');
	return btn.join(' | ');
}

//刷新
function customerListRefresh(){
	$('#customer_customerList_treegrid').treegrid('reload');
}
//添加
function customerAdd(){
	var url = '<{:U('Customer/customerAdd')}>';
	$('#customer_add_dialog').dialog({href:url});
	$('#customer_add_dialog').dialog('open');
}
//编辑
function customerListEdit(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择产品', 'error');
		return false;
	}
	var url = '<{:U('Customer/customerEdit')}>';
	url += url.indexOf('?') != -1 ? '&id='+id : '?id='+id;
	$('#customer_edit_dialog').dialog({href:url});
	$('#customer_edit_dialog').dialog('open');
}
//删除
function customerListDelete(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择产品', 'error');
		return false;
	}
	$.messager.confirm('提示信息', '确定要删除吗？', function(result){
		if(!result) return false;
		$.post('<{:U('Customer/customerDelete')}>', {id: id}, function(res){
			if(!res.status){
				$.messager.alert('提示信息', res.info, 'error');
			}else{
				$.messager.alert('提示信息', res.info, 'info');
				customerListRefresh();
			}
		}, 'json');
	});
}
//排序
function customerListOrder(){
	$.post('<{:U('Category/categoryOrder')}>', $('.customerList_order_input').serialize(), function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$.messager.alert('提示信息', res.info, 'info');
			customerListRefresh();
		}
	}, 'json');
}

function customerAddProduct($custid){
	openUrl('<{:U('Customer/customerAddProduct')}>'+"&custid="+$custid,"添加客户产品信息");
}
</script>