<script type="text/javascript">
$(function(){
	$.formValidator.initConfig({formID:"customer_add_dialog_form",onError:function(msg){$.messager.alert('错误提示', msg, 'error');},onSuccess:customerAddDialogFormSubmit,submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',inIframe:true});
})
function customerAddDialogFormSubmit(){
	$.post('<{:U('Customer/customerAdd')}>', $("#customer_add_dialog_form").serialize(), function(res){
		console.log(res);
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$('#customer_add_dialog').dialog('close');
			$.messager.confirm('操作提示', res.info["msg"]+"\n 你需要给客户添加产品吗？",function(data){
				if(data)
				{
					customerAddProduct(res.info["id"]);
				}else{
					customerListRefresh();
				}		
				
			});
			
		
		}
	})
}
</script>

<form id="customer_add_dialog_form" style="text-align:center; margin:0 auto;">
<table width="100%" style="margin-left:20px">
	<tr>
		<td class="rightLabel">客户名称：</td>
		<td>
		    <input id="customer_add_dialog_form_custname" class="textField" name="info[custname]" type="text" />
		</td>
		<td><div id="customer_add_dialog_form_custnameTip"></div></td>
		
		<td class="rightLabel">性别：</td>
		<td>
		    <input id="customer_add_dialog_form_sex" name="info[sex]" type="radio" value="0" />男
		     <input id="customer_add_dialog_form_sex" name="info[sex]" type="radio" value="1" />女
		</td>
		<td><div id="customer_add_dialog_form_sexTip"></div></td>
	</tr>
	<tr>
		<td class="rightLabel">手机：</td>
		<td><input id="customer_add_dialog_form_mobile" name="info[mobile]" type="text" class="textField" /></td>
		<td><div id="customer_add_dialog_form_mobileTip"></div></td>
		<td class="rightLabel">固定电话：</td>
		<td><input id="customer_add_dialog_form_tel" name="info[tel]" type="text" class="textField" /></td>
		<td><div id="customer_add_dialog_form_telTip"></div></td>
	</tr>
	<tr>
		<td class="rightLabel">客户类型：</td>
		<td><input id="customer_add_dialog_form_type" name="info[type]" class="easyui-combobox comboboxField" data-options='editable:false,panelHeight:"auto",valueField: "key",textField: "value",data: <?php echo($CustomerTypeList);?>'/></td>
		<td><div id="customer_add_dialog_form_typeTip"></div></td>
		<td class="rightLabel">客户等级：</td>
		<td><input id="customer_add_dialog_form_grade" name="info[grade]" class="easyui-combobox comboboxField"  type="text" data-options='editable:false,panelHeight:"auto",valueField: "key",textField: "value",data: <?php echo($CustomerGradeList);?>' /></td>
		<td><div id="customer_add_dialog_form_gradeTip"></div></td>
	</tr>
	<tr>
		<td class="rightLabel">单位：</td>
		<td><input id="customer_add_dialog_form_organization" name="info[organization]" type="text" class="textField" /></td>
		<td><div id="customer_add_dialog_form_organizationTip"></div></td>
		<td class="rightLabel">邮箱：</td>
		<td><input id="customer_add_dialog_form_email" name="info[email]" type="text" class="textField" /></td>
		<td><div id="customer_add_dialog_form_emailTip"></div></td>
	</tr>
		<tr>
		<td class="rightLabel">所属区域：</td>
		<td><input id="customer_add_dialog_form_addrid" name="info[addrid]" class="easyui-combobox comboboxField" data-options='editable:false,panelHeight:"auto",valueField: "key",textField: "value",data: <?php echo($CityList);?>' /></td>
		<td><div id="customer_add_dialog_form_addridTip"></div></td>
	</tr>
	<tr>
		<td class="rightLabel">地址：</td>
		<td colspan="2">
			<input id="customer_add_dialog_form_address" name="info[address]" class="longTextField"/>
		</td>
		<td><div id="customer_add_dialog_form_addressTip"></div></td>
	</tr>
	<tr>
		<td class="rightLabel">备注：</td>
		<td colspan="3">
          	<textarea cols="4" style="width:280px" id="customer_add_dialog_desc" name="info[desc]"></textarea>
        </td>
	</tr>
</table>
</form>