<import file="admin.customer.js.filter_change" />
<form id="customer_add_product_filter_change_dialog_form">
<table class="tab-op" id="TabCycle" cellspacing="0">
	<input type="text" class="hidden" name="info[custid]" value="<{$custid}>"/>
	<input type="text" class="hidden" name="info[prodid]" value="<{$prodid}>"/>
	<tr>
		<td class="td-lable" style="text-align: center" width="170">滤芯名称</td>
		<td class="td-lable" style="text-align: center" width="160">默认使用周期</td>
		<td class="td-lable" style="text-align: center" width="180">个人设置周期</td>
	</tr>
	<tbody id="customer_add_product_filter_change_dialog_filter_content">
		<foreach name="fitlist" item="fit" key="key">
			<tr>
				<td class="td-lable" width="150"><{$fit.fitname}></td>
				<td><input type="text" class="textField" disabled="disabled" value="<{$fit.cycle}>" maxlength="5"></td>
				<td width="218px">
				<input type="hidden" value="<{$fit.fitid}>" name="fitid[]">
				<input type="hidden" value="<{$fit.fitname}>" name="fitname[]">
				<input type="hidden" value="<{$fit.cycle}>" name="cycle[]">
				<input type="text" class="textField" name="custcycle[]" value="<{$fit.custcycle}>" maxlength="5">
				<span class="deptcbk" id="err"></span>
				<a class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-other-delete'" onclick="deleteFilter(this)"></a> 
				</td>
			</tr>
			<tr></tr>
		</foreach>
	</tbody>
</table>
<div style="width: 100%; margin: 0px auto; text-align: center; margin-top: 15px;">
<div class=" btnL blueL addCompent" style="line-height: 28px">
<a id="customer_add_product_filter_change_dialog_add_filter" title="给该机器添加一个滤芯" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-arrow-add'">添加滤芯</a></div>
</div>
</form>