@CHARSET "UTF-8";
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td {
	overflow:hidden;
	height:35px;
	line-height:28px;
	text-align:left;
	padding-left:10px;
}

.textField{
	width:172px;
	height:22px;
}

.longTextField{
	width:280px;
	height:22px
}

.comboboxField{
	width:172px;
	height:22px;
}
.centertitle {
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
}

.lefttitle{
	text-align:right;
	white-space:nowrap;
}

.wid50Per {
	width: 50%;
}

.hidden {
	display:none;
}

.rightLabel{
	text-align:right;
	white-space:nowrap;
}
