<script type="text/javascript">
$(function(){
	$('#category_category_add_dialog_form_parentid').combotree({url:'<{:U('Category/public_categorySelect')}>'});
	$.formValidator.initConfig({formID:"category_category_add_dialog_form",onError:function(msg){/*$.messager.alert('错误提示', msg, 'error');*/},onSuccess:categoryCategoryAddDialogFormSubmit,submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',inIframe:true});
	$("#category_category_add_dialog_form_parentid").formValidator({onShow:"请选择上级栏目",onFocus:"上级栏目不能为空"}).inputValidator({min:0,type:'value',onError:"上级栏目不能为空"}).defaultPassed();
	$("#category_category_add_dialog_form_catname").formValidator({onShow:"请输入栏目名称",onFocus:"栏目名称不能为空",onCorrect:"输入正确"}).inputValidator({min:1,empty:{leftEmpty:false,rightEmpty:false,emptyError:'栏目名称不能有空格'},onError:"栏目名称不能为空"});
})
function categoryCategoryAddDialogFormSubmit(){
	$.post('<{:U('Category/categoryAdd')}>', $("#category_category_add_dialog_form").serialize(), function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$.messager.alert('提示信息', res.info, 'info');
			$('#category_category_add_dialog').dialog('close');
			categoryCategoryListRefresh();
		}
	})
}
function categoryCategoryAddDialogFormTypeChange(val){
	if(val == '2'){
		$('#category_category_add_dialog_form_url').show();
	}else{
		$('#category_category_add_dialog_form_url').val('');;
		$('#category_category_add_dialog_form_url').hide();
	}
}
</script>

<style type="text/css">
	.title{
		text-align:right;
		white-space:nowrap;
		}
	td {
		overflow:hidden;
		height:35px;
		line-height:28px;
		text-align:left;
		padding-left:10px;
	}

</style>
<form id="category_category_add_dialog_form" style="text-align:center; margin:0 auto;">
<table width="100%" style="margin-left:20px">
	<tr>
		<td width="80" class="title">品牌：</td>
		<td><input id="category_category_add_dialog_form_parentid" name="info[parentid]" class="easyui-combotree" value="<{$Think.get.parentid|default=0}>" style="width:180px;height:26px" /></td>
		<td><div id="category_category_add_dialog_form_parentidTip"></div></td>
	</tr>
	<tr>
		<td class="title">型号：</td>
		<td><input id="category_category_add_dialog_form_catname" name="info[catname]" type="text" style="width:178px;height:22px" /></td>
		<td><div id="category_category_add_dialog_form_catnameTip"></div></td>
	</tr>
	<tr>
		<td class="title">名称：</td>
		<td><input id="category_category_add_dialog_form_catname" name="info[catname]" type="text" style="width:178px;height:22px" /></td>
		<td><div id="category_category_add_dialog_form_catnameTip"></div></td>
	</tr>
	<tr>
		<td class="title">机型：</td>
		<td>
			<select id="category_category_add_dialog_form_type" name="info[type]" class="easyui-combobox" data-options="editable:false,panelHeight:'auto',onChange:categoryCategoryAddDialogFormTypeChange" style="width:80px">
				<foreach name="typelist" item="type" key="key">
					<option value="<{$key}>"><{$type}></option>
				</foreach>
			</select>
			<span style="color:gray;padding-left:15px">提示：设置后将不可修改</span>
		</td>
		<td><div id="category_category_add_dialog_form_typeTip"></div></td>
	</tr>
		<tr>
		<td class="title">适用人数：</td>
		<td><input id="category_category_add_dialog_form_catname" name="info[catname]" type="text" style="width:178px;height:22px" /></td>
		<td><div id="category_category_add_dialog_form_catnameTip"></div></td>
	</tr>
	<tr>
		<td class="title">适用水质：</td>
		<td>
			<select id="category_category_add_dialog_form_type" name="info[type]" class="easyui-combobox" data-options="editable:false,panelHeight:'auto',onChange:categoryCategoryAddDialogFormTypeChange" style="width:80px">
				<foreach name="typelist" item="type" key="key">
					<option value="<{$key}>"><{$type}></option>
				</foreach>
			</select>
			<span style="color:gray;padding-left:15px">提示：设置后将不可修改</span>
		</td>
		<td><div id="category_category_add_dialog_form_typeTip"></div></td>
	</tr>
	<tr>
		<td class="title">滤芯：</td>
		<td>
           <div>
                <p>
                <b  style="float:left;margin-left:20px;width:115px;">滤芯名称</b>
                <b style="float:left;margin-right:10px;">默认周期(天)</b>
                <a href="javascript:void(0)" style="float:left;margin-right:10px;" class="l-btn l-btn-plain" ><span class="l-btn-left"><span class="l-btn-text icons-arrow-add l-btn-icon-left">添加滤芯</span></span></a>
                </p>
                <br> 
                <p style="margin-top:5px;margin-bottom:5px;">
                 <input type="text" name="ConfigName" value="PP棉 " style="width:105px;height:22px;padding-left:5px;margin-right:5px;">
                 <input type="text" value="90" name="ChangCycle" style="width:105px;height:22px;padding-left:5px;margin-right:5px;">
		         <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-other-delete'" onclick="contentNewsListDelete()"></a>  
                 </p>
           </div>
        </td>
	</tr>
</table>
</form>