@CHARSET "UTF-8";
.title{
		text-align:right;
		white-space:nowrap;
}
td {
	overflow:hidden;
	height:35px;
	line-height:28px;
	text-align:left;
	padding-left:10px;
}
input[type="text"]{
	width:178px;
	height:22px
}