<script type="text/javascript">
$(function(){
	$.formValidator.initConfig({formID:"product_add_dialog_form",onError:function(msg){$.messager.alert('错误提示', msg, 'error');},onSuccess:productAddDialogFormSubmit,submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',inIframe:true});
	$("#addFitting").click(addFitting);
})
function productAddDialogFormSubmit(){
	$.post('<{:U('Product/productAdd')}>', $("#product_add_dialog_form").serialize(), function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$.messager.alert('提示信息', res.info, 'info');
			$('#product_add_dialog').dialog('close');
			productListRefresh();
		}
	})
}
function productAddDialogFormModeChange(val){
	$.ajax({
		type: 'GET',
		url: '<{:U('Product/getFittingList')}>',
		data: {modelid:val},
		cache: false,		
		success: function(data){
			$("#filterContent").html("");
			$.each(data, function(i, fit) {
			    var content ='<p id="fitColumn"><input type="text" name="fitid[]" style="display:none" value="'+fit.fitid+
			               '"/><input type="text" name="fitname[]" value="'+fit.fitname+
			             ' "><input type="text" value="'+fit.defaultcycle+'" name="defaultcycle[]"><a href="javascript:;"'+ 
			             'class="easyui-linkbutton" id="fit_link_'+fit.fitid+'" data-options="plain:true,iconCls:\'icons-other-delete\'" onclick="deleteFitting(this)"></a> </p>';
			    $("#filterContent").append(content);
			    $("#fit_link_"+fit.fitid).linkbutton();
			});
			$("#filterArea").show();
		}
	});
}

function deleteFitting(obj)
{
	$(obj).parent().remove();
}

function addFitting()
{
	 var content ='<p id="fitColumn"><input type="text" name="fitid[]" style="display:none" value=""/>'
	     +'<input type="text" name="fitname[]" value=""><input type="text" value="" name="defaultcycle[]">'
	     +'<a href="javascript:;"'+  'class="easyui-linkbutton"  data-options="plain:true,iconCls:\'icons-other-delete\'" onclick="deleteFitting(this)"></a> </p>';
	$("#filterContent").append(content);
	$("#filterContent p:last a").linkbutton();
}
</script>
<form id="product_add_dialog_form" style="text-align:center; margin:0 auto;">
<table width="100%" style="margin-left:20px">
	<tr>
		<td width="80" class="title">品牌：</td>
		<td>
		    <input id="product_add_dialog_form_brand" name="info[brandid]" class="easyui-combobox" style="width:180px;height:26px"  data-options='editable:false,valueField: "brandid",textField: "brandname",data: <?php echo($brandlist);?>' />
		</td>
		<td><div id="product_add_dialog_form_brandTip"></div></td>
	</tr>
	<tr>
		<td class="title">型号：</td>
		<td><input id="product_add_dialog_form_type" name="info[type]" type="text" style="width:178px;height:22px" /></td>
		<td><div id="product_add_dialog_form_typeTip"></div></td>
	</tr>
	<tr>
		<td class="title">名称：</td>
		<td><input id="product_add_dialog_form_prodname" name="info[prodname]" type="text" style="width:178px;height:22px" /></td>
		<td><div id="product_add_dialog_form_prodnameTip"></div></td>
	</tr>
	<tr>
		<td class="title">机型：</td>
		<td>
		 <input id="product_add_dialog_form_model" name="info[modelid]" class="easyui-combobox" style="width:180px;height:26px"  data-options='editable:false,valueField: "modelid",textField: "modelname",data: <?php echo($productModelList);?>,onChange:productAddDialogFormModeChange' />
		<!--  
			<select id="product_add_dialog_form_mode" name="info[modeid]" class="easyui-combobox" data-options="editable:false,panelHeight:'auto',onChange:productAddDialogFormModeChange" style="width:178px;height:22px">
				<option value="">--请选择--</option>
				<foreach name="productModelList" item="value" key="key">
					<option value="{$value.modeid}"><{$value.modename}></option>
				</foreach>
			</select>
			-->
			<span style="color:gray;padding-left:15px">提示：设置后将不可修改</span>
		</td>
		<td><div id="product_add_dialog_form_modelTip"></div></td>
	</tr>
		<tr>
		<td class="title">适用人数：</td>
		<td><input id="product_add_dialog_form_persnum" name="info[persnum]" type="text" style="width:178px;height:22px" /></td>
		<td><div id="product_add_dialog_form_persnumTip"></div></td>
	</tr>
	<tr>
		<td class="title">适用水质：</td>
		<td>
			<input id="product_add_dialog_form_waterqual" name="info[waterqual]" class="easyui-combobox" data-options='editable:false,panelHeight:"auto",valueField: "key",textField: "value",data: <?php echo($waterQualityList);?>'  style="width:180px;height:26px"/>
			<span style="color:gray;padding-left:15px">提示：设置后将不可修改</span>
		</td>
		<td><div id="product_add_dialog_form_waterqualTip"></div></td>
	</tr>
	<tr>
		<td class="title">滤芯：</td>
		<td>
           <div id="filterArea" style="display:none">
                <p>
                <b style="float:left;margin-left:20px;width:115px;">滤芯名称</b>
                <b style="float:left;margin-right:10px;">默认周期(天)</b>
                <a id="addFitting" href="javascript:void(0)" style="float:left;margin-right:10px;" class="l-btn l-btn-plain" ><span class="l-btn-left"><span class="l-btn-text icons-arrow-add l-btn-icon-left">添加滤芯</span></span></a>
                </p>
                <br> 
                <div id="filterContent">
                <!--
                     <p style="margin-top:5px;margin-bottom:5px;">
                 	<input type="text" name="ConfigName" value="PP棉 " style="width:105px;height:22px;padding-left:5px;margin-right:5px;">
               		  <input type="text" value="90" name="ChangCycle" style="width:105px;height:22px;padding-left:5px;margin-right:5px;">
		         	<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-other-delete'" onclick="contentNewsListDelete()"></a>  
                 </p>
                -->
                
                </div>

           </div>
        </td>
	</tr>
</table>
</form>