<taglib name="Admin\TagLib\EasyUI" />
<easyui:treegrid options="treegrid.options" fields="treegrid.fields" />
<link href="css/product.css" rel="stylesheet" type="text/css" />

<!-- 添加产品 -->
<div id="product_add_dialog" class="easyui-dialog" title="添加产品" 
data-options="modal:true,closed:true,iconCls:'icons-application-application_add',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#product_add_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#product_add_dialog').dialog('close');}}]" style="width:700px;height:500px;"></div>

<!-- 编辑产品 -->
<div id="product_edit_dialog" class="easyui-dialog" title="编辑产品" data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#product_edit_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#product_edit_dialog').dialog('close');}}]" style="width:700px;height:500px;"></div>

<script type="text/javascript">
var product_list_treegrid_toolbar = [
	{ text: '添加产品', iconCls: 'icons-arrow-add', handler: productAdd },
	{ text: '刷新', iconCls: 'icons-arrow-arrow_refresh', handler: productListRefresh },
	{ text: '排序', iconCls: 'icons-arrow-arrow_down', handler: productListOrder }
];

//状态格式化
function productWaterQualityFormatter(key){
	var list = <{:json_encode(C('WATER_QUALITY'))}>;
	return list[key] || null;
}
//操作格式化
function productListOperateFormatter(id){
	var btn = [];
	//btn.push('<a href="javascript:;" onclick="productListAdd('+id+')">添加子栏目</a>');
	btn.push('<a href="javascript:;" onclick="productListEdit('+id+')">修改</a>');
	btn.push('<a href="javascript:;" onclick="productListDelete('+id+')">删除</a>');
	return btn.join(' | ');
}

//刷新
function productListRefresh(){
	$('#product_productlist_treegrid').treegrid('reload');
}
//添加
function productAdd(){
	var url = '<{:U('Product/productAdd')}>';
	$('#product_add_dialog').dialog({href:url});
	$('#product_add_dialog').dialog('open');
}
//编辑
function productListEdit(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择产品', 'error');
		return false;
	}
	var url = '<{:U('Product/productEdit')}>';
	url += url.indexOf('?') != -1 ? '&id='+id : '?id='+id;
	$('#product_edit_dialog').dialog({href:url});
	$('#product_edit_dialog').dialog('open');
}
//删除
function productListDelete(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择产品', 'error');
		return false;
	}
	$.messager.confirm('提示信息', '确定要删除吗？', function(result){
		if(!result) return false;
		$.post('<{:U('Product/productDelete')}>', {id: id}, function(res){
			if(!res.status){
				$.messager.alert('提示信息', res.info, 'error');
			}else{
				$.messager.alert('提示信息', res.info, 'info');
				productListRefresh();
			}
		}, 'json');
	});
}
//排序
function productListOrder(){
	$.post('<{:U('Category/categoryOrder')}>', $('.productlist_order_input').serialize(), function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$.messager.alert('提示信息', res.info, 'info');
			productListRefresh();
		}
	}, 'json');
}
</script>