<script type="text/javascript">
$(function(){
//	$('#product_edit_dialog_form_parentid').combotree({url:'<{:U('Category/public_categorySelect')}>'});
	$.formValidator.initConfig({formID:"product_edit_dialog_form",onError:function(msg){/*$.messager.alert('错误提示', msg, 'error');*/},onSuccess:productAddDialogFormSubmit,submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',inIframe:true});
//	$("#product_edit_dialog_form_parentid").formValidator({onShow:"请选择上级栏目",onFocus:"上级栏目不能为空"}).inputValidator({min:0,type:'value',onError:"上级栏目不能为空"}).defaultPassed();
//	$("#product_edit_dialog_form_catname").formValidator({onShow:"请输入栏目名称",onFocus:"栏目名称不能为空",onCorrect:"输入正确"}).inputValidator({min:1,empty:{leftEmpty:false,rightEmpty:false,emptyError:'栏目名称不能有空格'},onError:"栏目名称不能为空"});
	$("#addEditFitting").click(addFitting);
})
function productAddDialogFormSubmit(){
	
	$.post('<{:U('Product/productEdit?id='.$info['prodid'])}>', $("#product_edit_dialog_form").serialize(), function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$.messager.alert('提示信息', res.info, 'info');
			$('#product_edit_dialog').dialog('close');
			productListRefresh();
		}
	})
}

function deleteFitting(obj)
{
	$(obj).parent().remove();
}

function addFitting()
{
	var content = $("#fitColumnCopy>p:first").clone();
	$("#filterEditContent").append(content);
}
</script>
<style type="text/css">
	.title{
		text-align:right;
		white-space:nowrap;
		}
	td {
		overflow:hidden;
		height:35px;
		line-height:28px;
		text-align:left;
		padding-left:10px;
	}
	.fitColumn{
	   margin-top:5px;
	   margin-bottom:5px;
	}
	.fitColumn input{
	    width:105px;height:22px;padding-left:5px;margin-right:5px;
	}

</style>
<form id="product_edit_dialog_form" style="text-align:center; margin:0 auto;">
<input id="product_add_dialog_form_prodid" name="info[prodid]" type="text"  style="display:none" value="<{$info.prodid}>"/>
<table width="100%" style="margin-left:20px">
	<tr>
		<td width="80" class="title">品牌：</td>
		<td>
		    <input id="product_add_dialog_form_brand" name="info[brandid]" class="easyui-combobox" style="width:180px;height:26px"  data-options='editable:false,valueField: "brandid",textField: "brandname",value:<{$info.brandid}>,data: <?php echo($brandlist);?>'  />
		</td>
		<td><div id="product_add_dialog_form_brandTip"></div></td>
	</tr>
	<tr>
		<td class="title">型号：</td>
		<td><input id="product_add_dialog_form_type" name="info[type]" type="text" style="width:178px;height:22px"  value="<{$info.type}>"/></td>
		<td><div id="product_add_dialog_form_typeTip"></div></td>
	</tr>
	<tr>
		<td class="title">名称：</td>
		<td><input id="product_add_dialog_form_prodname" name="info[prodname]" type="text" style="width:178px;height:22px" value="<{$info.prodname}>"/></td>
		<td><div id="product_add_dialog_form_prodnameTip"></div></td>
	</tr>
	<tr>
		<td class="title">机型：</td>
		<td>
		 <input id="product_add_dialog_form_model" name="info[modelid]" class="easyui-combobox" style="width:180px;height:26px"  data-options='editable:false,valueField: "modelid",textField: "modelname",data: <?php echo($productModelList);?>,"value":<{$info.modelid}>' />
		<!--  
			<select id="product_add_dialog_form_mode" name="info[modeid]" class="easyui-combobox" data-options="editable:false,panelHeight:'auto',onChange:productAddDialogFormModeChange" style="width:178px;height:22px">
				<option value="">--请选择--</option>
				<foreach name="productModelList" item="value" key="key">
					<option value="{$value.modeid}"><{$value.modename}></option>
				</foreach>
			</select>
			-->
			<span style="color:gray;padding-left:15px">提示：设置后将不可修改</span>
		</td>
		<td><div id="product_add_dialog_form_modelTip"></div></td>
	</tr>
		<tr>
		<td class="title">适用人数：</td>
		<td><input id="product_add_dialog_form_persnum" name="info[persnum]" type="text" style="width:178px;height:22px" value="<{$info.persnum}>" /></td>
		<td><div id="product_add_dialog_form_persnumTip"></div></td>
	</tr>
	<tr>
		<td class="title">适用水质：</td>
		<td>
			<input id="product_add_dialog_form_waterqual" name="info[waterqual]" class="easyui-combobox" data-options='editable:false,panelHeight:"auto",valueField: "key",textField: "value",data: <?php echo($waterQualityList);?>'  value="<{$info.waterqual}>" style="width:180px;height:26px"/>
			<span style="color:gray;padding-left:15px">提示：设置后将不可修改</span>
		</td>
		<td><div id="product_add_dialog_form_waterqualTip"></div></td>
	</tr>
	<tr>
		<td class="title">滤芯：</td>
		<td>
		<div id="fitColumnCopy" style="display:none">
			<p class="fitColumn">
			    <input type="text" name="fitid[]" style="display:none" value="<{$fit.fitid}>"/>
                <input type="text" name="fitname[]" value="<{$fit.fitname}>"/>
                <input type="text" name="cycle[]" value="<{$fit.cycle}>"/>
                <a class="easyui-linkbutton"  data-options="plain:true,iconCls:'icons-other-delete'" onclick="deleteFitting(this)"></a>
            </p>
		</div>
           <div <empty name="fitinfo">style="display:none"</empty>>
                <p>
                <b style="float:left;margin-left:20px;width:115px;">滤芯名称</b>
                <b style="float:left;margin-right:10px;">默认周期(天)</b>
                <a id="addEditFitting" style="float:left;margin-right:10px;" class="l-btn l-btn-plain" ><span class="l-btn-left"><span class="l-btn-text icons-arrow-add l-btn-icon-left">添加滤芯</span></span></a>
                </p>
                <br> 
                <div id="filterEditContent">
				<foreach name="fitinfo" item="fit" key="key">
				<p class="fitColumn">
				 <input type="text" name="fitid[]" style="display:none" value="<{$fit.fitid}>"/>
	             <input type="text" name="fitname[]" value="<{$fit.fitname}>"/>
	             <input type="text" name="cycle[]" value="<{$fit.cycle}>"/>
	             <a class="easyui-linkbutton"  data-options="plain:true,iconCls:'icons-other-delete'" onclick="deleteFitting(this)"></a> </p>
				</foreach>
                <!--
				<p class="fitColumn">
				 <input type="text" name="fitid[]" style="display:none" value="<{$fit.fitid}>"/>
	             <input type="text" name="fitname[]" value="<{$fit.fitname}>"/>
	             <input type="text" name="cycle[]" value="<{$fit.cycle}>"/>
	             <a class="easyui-linkbutton"  data-options="plain:true,iconCls:'icons-other-delete'" onclick="deleteFitting(this)"></a> </p>
                -->
                
                </div>

           </div>
        </td>
	</tr>
</table>
</form>